body {
  margin: 0;
  padding: 0;
  background-color: #DCE1DE;
  height: 78vh;
  font-family: 'Maven Pro', sans-serif;
}

button {
  background-color: #f5c25d;
  border-radius: 5px;
  border: 0;
}

#header {
  background-image: url('../images/new-homebanner.png');
  height: 22vh;
  width: 100vw;
  border-bottom: 1px solid #38A3A5;
}

#home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
}

#recent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60vw;
  max-width: 60vw;
  margin-left: 2em;
  background-color: #1F2421;
  height: fit-content;
  border-radius: .5em;
  color: #DCE1DE;
  padding: .25em;
}

#recent h2 {
  margin-left: 1em;
  font-family: 'Original Surfer', cursive;
}

#potion-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

#potion-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: .5em 0;
  height: 16em;
}

#potion-card:hover {
  background-color: #9CC5A1;
  border-radius: .25em;
}

#potion-image {
  height: 10em;
}

#potion-card h5 {
  color: #216869;
  font-size: large;
  text-align: center;
  font-weight: normal;
  letter-spacing: 1px;
  width: 80%;
}

#user-n-search {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#user-status {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
  background-color: #1F2421;
  padding: 2em;
}

#searchbar {
  width: 100%;
}

#searchbar-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#searchbar-form input {
  width: 40%;
  font-size: larger;
  padding: .25em;
}